    <form class="login-form">
      <div class="box">
        <label for="username" class="form-label">Username</label>
          <input 
          type="text"
          class="form-control" 
          id="username-login"
          placeholder="Username"
          />
    <br>
    <br>
        <label for="password" class="form-label">Password</label>
        <br>
        <input
          type="password" 
          class="form-control"
          id="password-login"
          placeholder="********"
          />
        </div>
        <br>
      <button type="submit" class="button is-primary">Sign in</button>
    </div>
    </form>