<h1 class="title is-2">Sign up!</h1>

<form id="signup-form" class="signup-form">

  <div class="box">
    <label for="username" class="form-label">Username:</label>
    <input type="text" id="username" class="form-control" placeholder="Username" />
    <br>
    <br>
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Email" />
    <br>
    <br>
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="8 characters min" />
  </div>

  <button class="button is-black">Sign up</button>

</form>
<br>
</body>